* {
    box-sizing: border-box;
    font-family: 'Bubbler One', bubble,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    line-height: 1.714285;
}

body {
    font-size: 16px;
    margin: 0;
}

img {
    width: 100%;
    cursor: pointer;
}