@font-face {
    font-family: tektur;
    src: url("/fonts/tektur/Tektur_Condensed-Regular.ttf");
}
@font-face {
    font-family: slackey;
    src: url("/fonts/slackey/Slackey-Regular.ttf");
}
@font-face {
    font-family: bubble;
    src: url("/fonts/bubble/BubblerOne-Regular.ttf");
}