.main-footer{
    justify-items: center;
    height: 100px;
    padding: 10px;
    border-radius: 3px;
    background: var(--clrMainBg);
}

.main-footer small{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-footer .social-links{
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.main-footer .social-links a{
    margin-inline: 10px;
    text-decoration: none;
    color: var(--clrNavFont);
}