
.gallery{
  margin-block: 30px;
}

.gallery-container{  
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 15px;
} 

img{
  width:100%;
  break-inside: avoid;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s;
}

img:hover{
  opacity: 0.4;
}

