.editor{
    margin-block: 30px;
    display: flex;
    flex-direction: column;
}

.editor .canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.editor .editor-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-btns >*{
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
}

.editor-btns .btn{
    background: none ;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    font-size: 1.3rem;
}

.editor-btns .btn:not(:last-child){
    margin-inline-end: 10px;
}

.editor-btns .btn:not(.text-input){
    width: 50px;
}


.editor-btns .text-input{
    width: 300px;
}
.editor-btns .btn:hover{
    background-color: aliceblue;
}
.editor-btns .second-btns{
    border: 1px solid rgba(56, 54, 54, 0.466);
    border-radius: 3px;
    width: min-content;
    padding: 10px;
}
.editor-btns .reset-btn{
    width: min-content;
}

.hide{
    display: none;
}
