.editor{
    margin-block: 30px;
    display: flex;
    flex-direction: column;
}

.editor .canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.editor .canvas-container canvas {
    border-radius: var(--borderRadiusSize);
    border: 1px solid var(--clrBtnsBorder);
}

.editor .editor-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.editor-btns >*{
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
}

.editor-btns .btn{
    background: none ;
    border: 1px solid var(--clrBtnsInside);
    border-radius: var(--borderRadiusSize);
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    font-size: 1.3rem;
    color: var(--clrBtnsInside);
}

.editor-btns .btn:not(:last-child){
    margin-inline-end: 10px;
}
.editor-btns .btn > i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-btns .btn:not(.text-input, .btn-font){
    width: 50px;
}

.editor-btns .text-input{
    width: 300px;
}

.editor-btns .btn:hover{
    background-color: var(--clrTxtBox);
}

.editor-btns .first-btns{
    border: 1px solid var(--clrBtnsBorder);
    border-radius: var(--borderRadiusSize);
    width: min-content;
    padding: 10px;
}

.editor-btns .second-btns{
    border: 1px solid var(--clrBtnsBorder);
    border-radius: var(--borderRadiusSize);
    width: min-content;
    padding: 10px;
}

.editor-btns .second-btns .increase-input, .editor-btns .second-btns .decrease-input{
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif
}

.editor-btns .reset-btn{
    width: min-content;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-btns .delete-line-input{
    background-color: rgb(222, 97, 97);
}

.editor-btns .add-line-input{
    background-color: rgb(119, 196, 100);
}

.editor-btns .input-fill-color{
    background-image: linear-gradient(#ED7B7B, #F0B86E);
}

.editor-btns .third-btns>*{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4267B2;
    color: aliceblue;
    text-decoration: none;
}
.editor-btns .btn-font{
    width:90px;
}

.editor-btns .third-btns .btn{
    width: max-content;
    padding: 10px;
}

.editor-btns .third-btns i{
    width: max-content;
    margin-inline-start: 10px;
}

.editor-btns .third-btns>*:hover{
    color: black;
}

.hide{
    display: none;
}
