/* Tablet*/
@media (min-width: 790px) {

    .editor{
        flex-direction: row;
        padding: 30px;
        justify-content: center;
    }

    .editor .canvas-container {
    margin: 0 10px;
    }
    .editor .canvas-container canvas{
        width: 450px;
        height: 450px;
    }
    
    .hide{
        display: none;
    }
}

/* Desktop*/
@media only screen and (min-width: 1025px) {
    .editor .canvas-container canvas{
        width: 600px;
        height: 600px;
    }
}
